.blogcard{
    width:80%;
    margin:50px;
    border:2px solid blue;
    padding:10px;
    border-radius:10px;
    background-color: rgb(251, 251, 253);
    box-shadow:5px 5px 5px blue;
    cursor:pointer;
}

.blogcard:hover{
    background-color:rgb(169, 169, 214);
    border:2px;
}

.readmore{
    background-color: blue;
    color:white;
    font-size: 20px;
    border-radius:5px;
    padding:4px;
    margin:5px;
    border-radius: 3px;
}

.blogwindow{
    position:absolute;
    top:30%;
    left:5%;
    right:5%;
    overflow: scroll;
    bottom:5%;
    background-color:bisque;
    border:10px;
    border-radius: 10px 0px 0px 0px;
    box-shadow: 0px 0px 10px rgb(39, 39, 65);
}

.show{
    display:block;
    visibility:visible;
}

.hide{
    display:none;
    visibility:hidden;
}

.close{
    width:25px;
    height:25px;
    border-radius:20px;
    margin:5px;
    text-align:center;
    vertical-align: middle;
    font-style: strong;
    background:rgb(162, 29, 29);
    color:white;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    border:2px solid black;
}

.close:hover{
    font-size:20px;
    width:30px;
    height:30px;

}

